/* Mixins */
@mixin nav-button-color($color, $amount) {
    border-bottom: 4px solid lighten($color, $amount);

    &.active,
    &:hover {
        border-color: $color;
        color: $color-white;
        background-color: darken($brand-primary, 5);
    }
}

@mixin overlay-color($color) {
    background-blend-mode: luminosity, normal;
    background-color: $color;

    &:hover {
        transition: all .5s ease-in-out;
        background-color: transparent;
        z-index: 11;

        .item__description {
            z-index: 11;
        }
    }

    &.ie-fallback {
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            background-color: transparentize($color, .4);
            position: absolute;
            z-index: 1;
            display: block;
            top: 0;
        }

        &:hover {
            &::after {
                transition: all .8s ease-in-out;
                background-color: transparent;
            }
        }
    }
}

@mixin icon($icon){
    &::before {
        font-family: FontAwesome;
        text-decoration: none;
        font-variant: normal;
        font-style: normal;
        content: $icon;
    }
}
